<div class="botanical-watermark {{ class }}" style="position: absolute; opacity: 0.08; pointer-events: none; z-index: 0; color: #5F715A; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 80%; height: 80%; display: flex; align-items: center; justify-content: center;">
  <svg viewBox="0 0 100 100" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path d="M50 95C50 95 10 60 10 30C10 15 25 5 40 15C50 22 50 35 50 35C50 35 50 22 60 15C75 5 90 15 90 30C90 60 50 95 50 95Z"/>
  </svg>
</div>
