<div class="botanical-corner {{ class }}" style="position: absolute; opacity: 0.1; pointer-events: none; z-index: 0; color: #5F715A; width: 120px; height: 120px;">
  <svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M10 90C40 90 70 60 90 10" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
    <path d="M40 70C20 60 10 90 10 90C10 90 40 80 40 70Z" fill="currentColor"/>
    <path d="M60 40C40 30 30 60 30 60C30 60 60 50 60 40Z" fill="currentColor"/>
    <path d="M80 15C60 5 50 35 50 35C50 35 80 25 80 15Z" fill="currentColor"/>
    <path d="M35 75C55 85 65 55 65 55C65 55 35 65 35 75Z" fill="currentColor"/>
    <path d="M55 45C75 55 85 25 85 25C85 25 55 35 55 45Z" fill="currentColor"/>
  </svg>
</div>
